%li{ class: ('active' if current_admin_path.start_with?('/categories')) }
  = link_to spina.admin_categories_path do
    = t('spina.categories.title', scaffold_name: t('spina.categories.scaffold_name_plural'))
