<div class="col <%= local_assigns[:class] %>">
  <div class="card horizontal">
    <div class="card-image valign-wrapper">
      <%= image_tag article.photo.file_url, class: "valign" %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h6><%= link_to article.title, article.materialized_path + "#nav-category" %></h6>
        <div class="divider"></div>
        <p><%= truncate(article.teaser, length: 50, omission: "") { 
          link_to " ...", article.materialized_path + "#nav-category"
        } %></p>
      </div>
    </div>
  </div>
</div>