<%= link_to article.materialized_path + "#nav-category" do %>
  <div class="card hoverable">
    <div class="card-image">
      <% if article.photo %>
        <%= image_tag article.photo.file_url %>
      <% end %>
    </div>
    <div class="card-content">
      <h6><%= highlight_title(article.title, params[:q]) %></h6>
    </div>
  </div>
<% end %>