<%= link_to article.materialized_path + "#nav-category", class: "sc-article" do %>
  <div class="card hoverable">
    <div class="card-image">
      <% if article.photo %>
        <%= image_tag article.photo.file_url %>
      <% end %>
    </div>
    <div class="card-content">
      <h6>
        <% if local_assigns[:search] %>
          <%= highlight_title(article.title, params[:q]) %>
        <% else %>
          <%= article.title %>          
        <% end %>
      </h6>
    </div>
  </div>
<% end %>
