<div id="categories">
  <section class="timeline">  
    <%= render @categories %>

    <div class="timeline__block timeline__block__last">
      <div class="timeline__midpoint"></div>
    </div>
  </section>  
</div>