@import "variables";
@import "materialize";
@import "articles";

.turbolinks-progress-bar {
  background-color: $primary-color;
}

body {
  background-color: #f1f1f1;
}

.navbar-brand {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

#search-nav {
  width: 400px;
}

#category-nav {
  z-index: 2;
}

main {
  margin-top: 15px;
}

.toast-notice {
  background-color: #43a047;
}

.toast-alert {
  background-color: #e53935;
}