@media screen and (max-width: $break-small) {
  #article .article-body {
    padding: 0;
  }
}

@media screen and (min-width: $break-small) {
  .navbar-brand {
    margin-top: 4px;
  }

  #nav-category {
    div.center {
      padding-left: 64px;
    }
  }

  #article .article-body iframe {
    height: 400px;
  }
}

@media screen and (min-width: $break-medium) {
  #most-visited, #facebook-page {
    padding-left: 0;
    padding-right: 0;
  }

  #banner #lastest-articles {
    height: 258px;

    .nav-slide-content {
      a {
        width: 240px;
        display: inline-block;
        margin-right: 10px;
        height: 258px;

        .card {
          .card-content {
            padding: 10px;
            height: 85.5px;

            h6 {
              font-size: 1rem;
              line-height: 110%;
              margin: 0.5rem 0 0.4rem 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-large) {
  #nav-category-root, .nav-wrapper, #banner, main {
    margin: 0 auto;
    max-width: 1200px;
  }

  #nav-category-root.pinned {
    max-width: 100%;
  }
}

// @media #{$medium-and-up} {
// }

// @media #{$medium-and-down} {
// }

// @media #{$large-and-up} {
// }