@media screen and (max-width: $break-small) {
  #article .article-body {
    padding: 0;
  }
}

@media screen and (min-width: $break-small) {
  .navbar-brand {
    margin-top: 4px;
  }

  #nav-category {
    div.center {
      padding-left: 64px;
    }
  }

  #article .article-body iframe {
    height: 400px;
  }
}

@media screen and (min-width: $break-medium) {
  #most-visited, #facebook-page {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: $break-large) {
  .nav-wrapper, main {
    margin: 0 auto;
    max-width: 1200px;
  }
}

// @media #{$medium-and-up} {
// }

// @media #{$medium-and-down} {
// }

// @media #{$large-and-up} {
// }