<!DOCTYPE html>
<html>
  <head>
    <title>
      Lựa chọn tốt cho bé - Trang review các sản phẩm cho mẹ và bé lớn nhất Việt Nam
    </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="jumbotron well">
      <h1>Header</h1>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-9"><%= yield %></div>

        <div class="col-md-3 well">
          <h1>New things will be come here soon.</h1>
        </div>
      </div>
    </div>
    
  </body>
</html>
